* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #f2f2f2;
    --footer: #bba8af;
    --dark-purple: #684551;
    --button-color: #c5d7d1;
    --drop-shadow: #9bb2ab;
    --contact-form: #E6E6E6;
}
body {
    background-color: #f2f2f0;
    overflow-x: hidden;
    width: 100vw;
    max-width: 100vw;
}

header {
    height: 5em;
    width: 100%;
    background-color: #e3e7e6;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 1;
}
nav {
    position: absolute;
    z-index: 998;
    height: 6em;
    width: 100%;
    background-color: #e3e7e6;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
header a.main-logo h2 {
    width: 40%;
    margin: 0 0 0 1em;
    font-family: ltc-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40pt;
    text-align: left;
    padding-left: 5em;
    color: var(--dark-purple);
    position: relative;
    top: .2em;
    z-index: 999;
}
a.main-logo {
    text-decoration: none;
    z-index: 999;
}
nav a {
    font-family: ltc-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 11.5pt;
    color: var(--dark-purple);
    text-decoration: none;
    position: relative;
    margin-right: 4em;
    margin-top: 1em;
}
nav a:hover {
    color: #c1b5b9;
}
.link-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-right: 7%;
}
.cta p {
    position: relative;
    top: .3em;

}
nav a.cta {
    background-color: var(--button-color);
    width: 6.5em;
    height: 2.3em;
    text-align: center;
    vertical-align: bottom;
    border-radius: 20px;
    box-shadow: 4px 5px 0 var(--drop-shadow);
}
a.cta:hover {
    box-shadow: 3px 3px 0 var(--drop-shadow);
    background-color: #c8dbd6;
    color: #ffffff;
    position: relative;
    top: .05em;
    right: .05em;
    transition: box-shadow .1s, top .1s, right .1s, color .1s;

}
.nav-toggle, .toggle-label {
    display: none;
}
@media only screen and (max-width: 700px) {
    header {
        position: fixed;
        z-index: 1;
        width: 100%;
    }

    nav {
        display: none;
        z-index: 995;
        position: absolute;
        top: 100% !important;
        left: 0 !important;
        height: 15em;
        width: 100%;
        text-align: left;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
    }
    .main-logo, .main-logo h2 {
        display: block;
        width: 20%;
        margin: 0 auto;
        position: absolute;
        top: 0 !important;
        left: 0 !important;
    }
    header a.main-logo h2 {
        width: 50vw;
        height: 70%;
        margin: 0 auto 0 2.6em!important;
        top: -.5em;
        left: 0;
        padding-left: 0;
        text-align: center;
        font-family: ltc-caslon-pro, serif;
        font-weight: 600;
        font-style: normal;
        font-size: 45pt;
        color: var(--dark-purple);
        position: relative;
        z-index: 999;
    }
    div.link-wrapper {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 10em;
        text-align: left;
    }
    .link-wrapper a {
        display: block;
        position: relative;
        text-align: center;
        font-size: 15pt;
        width: 6.5em;
        margin-left: 1em;
        transition: opacity 150ms ease-in-out;
    }
    
    nav a.cta {
        background-color: var(--button-color);
        width: 6.5em;
        height: 2.3em;
        text-align: left;
        border-radius: 20px;
        padding-left: 0 !important;
        box-shadow: 4px 5px 0 var(--drop-shadow);
        margin-left: 1em;
        position: relative;
    }
    .cta p {
        position: relative;
        text-align: center !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .nav-toggle {
        position: absolute;
        top: -9999px;
        left: -9999px
    }
    .toggle-label {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        margin-left: 4em;
        margin-top: .5em;
        height: 100%;
        width: 2.5em;
        display: flex;
        z-index: 999;
        align-items: center;
        box-sizing: border-box;
    }
    .toggle-label span,
    .toggle-label span::before,
    .toggle-label span::after  {
        display: block;
        background: black;
        height: 1px;
        width: 2.5em;
        border-radius: 2px;
        position: relative;
    }

    .toggle-label span::before,
    .toggle-label span::after  {
        content: '';
        position: absolute;
    }

    .toggle-label span::before {
        bottom: 7px;
    }

    .toggle-label span::after {
        top: 7px;
    }

    .nav-toggle:checked ~ nav {
        display: block;
        transform: scale(1,1);
        
    }
    .nav-toggle:checked ~ nav a {
        transition: opacity 250ms ease-in-out 250ms;
    }

}
    
 

  /* Welcome Section */


#welcome-section {
      margin-top: 3em;
      border: 1px solid transparent;
      height: 38em;
      width: 100vw;
      z-index: -2;
    }

.img_of_me {
      width: 150px;
      height: auto;
      position: relative;
      bottom: 3.5em;
  }

  .img-container {
      margin: 9em auto 2em auto;
      width: 150px;
      height: 150px;
      overflow: hidden;
      border-radius: 50%;
  }

  p.discover {
    font-family: ltc-caslon-pro, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13pt;
    text-align: center;
    color: var(--dark-purple);
  }


  #welcome-section hr {
      width: 4.6em;
      border: .1px solid black;
      margin: .1em auto 0 auto;
  }

  #welcome-section h1 {
    font-family: ltc-caslon-pro, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60pt;
    text-align: center;
    margin: -0.3em auto .3em;
    background-image: linear-gradient(to right, #684551 43%, #bc93a1, #DB9C8C, #9cbeb3 57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }

  p.description {
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12pt;
    width: 20em;
    text-align: center;
    margin: 0 auto;
  }

  #welcome-section table {
      margin: 0 auto 0 auto;
      border-collapse: separate;
      border-spacing: 10px;
      width: 100vw;
  }

  #welcome-section table hr {
      width: 8em;
      border: .2 solid black;
      position: relative;
      top: .5em;
      

  }



  @media screen and (max-width: 700px) {

    #welcome-section {
        margin-top: 10em;
    }
      .bottom {
          display: block;
          margin: 1.5em 0;
      }


      .img_of_me {
        width: 150px;
        height: auto;
        position: relative;
        bottom: 3.5em;
    }
  
    .img-container {
        margin: 2em auto 2em auto;
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
  
    }

    #welcome-section h1 {
        font-family: ltc-caslon-pro, serif;
        font-weight: 700;
        font-style: normal;
        font-size: 50pt;
        text-align: center;
        background-image: linear-gradient(to right, #684551 43%, #bc93a1, #DB9C8C, #9cbeb3 57%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: -.1em auto 0;
        }
  }

  #welcome-section table {
    margin: -1em auto 0 auto;
    border-collapse: separate;
    border-spacing: 10px;
    width: 100vw;
}



  /* Skills */

  #skills {
      margin: 0 auto 13em;
      z-index: -2;
      width: 100%;
  }

  #skills h2 {
    font-family: ltc-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 38pt;
    text-align: center;
    letter-spacing: 1px;
    color: var(--dark-purple);
    margin: 3em auto 0 auto;
    width: 40%;
  }

  #skills hr {
      width: 38%;
      border: .5px solid black;
      margin: 30px auto 0 auto;
  }

  #skills img {
      width: 30px;
      height: auto;
      position: relative;
      top: 1em;
  }

  table.left-table {
      border-collapse: separate;
      border-spacing: 20px;
      position: relative;
      right: 2em;
      padding-top: 20px;
  }

  .left-td {
    border-right: 1px solid black;
  }

  table.main-table {
      margin: 0 auto 0 auto;
      border-collapse: collapse;
      font-family: cabrito-sans, sans-serif;
      font-weight: 100;
      font-style: normal;
      font-size: 22pt;
      letter-spacing: 1.5px;
      line-height: 50px;
      position: relative;
      left: .5em;
  }
 
  .left-table p {
      position: relative;
      top: 1em;
      line-height: 30px;
      font-size: 20pt;
  }
  .html, .css, .design, .sql {
      display: grid;
      grid-template-columns: repeat(8, 40px);
      column-gap: 13px;
      position: relative;
      top: .5em;
  }


  .html div, .css div, .design div, .sql div {
      width: 35px;
      height: 35px;
      background-color: var(--drop-shadow);
      border-radius: 5px;
      margin-top: 1em;
  }

  .grid {
      position: relative;
      left: 2em;
      top: .3em;
  }

  .grid p {
    vertical-align: middle;        
    font-family: cabrito-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    position: relative;
    line-height: 67px;;
    top: .5em;
    right: 1.7em;
    text-align: right;
    
  }

  .column-1 {
      grid-column-start: 1;
      text-align: right;
      width: 4em;
      margin-right: 1em;
  }

  .column-2 {
      grid-column-start: 3;
  }
  div.skills-wrapper {
      display: flex;
      justify-content: center;
      margin: 3em;
  }

  .alt-color {
      background-color: var(--button-color)!important;
  }

  @media screen and (max-width: 900px) {
    #skills h2 {
        font-family: ltc-caslon-pro, serif;
        font-weight: 600;
        font-style: normal;
        font-size: 30pt;
        text-align: center;
        letter-spacing: 1px;
        color: var(--dark-purple);
        margin: 4em auto 0 auto;
        width: 40%;
    }

    #skills hr {
        width: 50%;
        border: .5px solid black;
        margin: 30px auto 0 auto;
        
    }

    table.main-table {
        width: 50vw;
        max-width: 700px;
        margin: 0 auto;
        position: relative;
        right: 2em;
    }

    table.left-table {
        border-collapse: separate;
        border-spacing: 20px;
        position: relative;
        right: 3em;
        padding-top: 5px;
    }

    .left-table p {
        position: relative;
        top: 1em;
        line-height: 30px;
        font-size: 17pt;
    }

    .left-td {
        max-width: 350px;
        display: block;
        padding: 0;
        margin: 2em auto 0;
        position: relative;
        left: 2em;
        border: none;
    }

    .right-td {
        display: block;
        width: 300px;
        max-width: 300px;
        padding: 0;
        margin: 3em auto 0;
        position: relative;
        right: 3em;
    }


    #skills img {
        width: 15px;
        height: auto;
        position: relative;
        top: 1em;
    }

    .grid, .left-table {
        width: 400px;
        height: 300px;
    }

    .grid p {
        vertical-align: middle;        
        font-family: cabrito-sans, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 17pt;
        position: relative;
        text-align: right;
    }

    .html, .css, .design, .sql {
        display: grid;
        grid-template-columns: repeat(8, 30px);
        position: relative;
        top: .5em;
    }
  
  
    .html div, .css div, .design div, .sql div {
        width: 25px;
        height: 25px;
        background-color: var(--drop-shadow);
        border-radius: 5px;
    }

    @media only screen and (max-width: 600px) {
        #skills {
            margin: 0 auto 0!important;
            position: relative;
        }
        #skills h2 {
            margin-top: 1.3em !important;
        }

        table.main-table {
            margin: 0 auto;
            width: 100%;
        }

        .left-table {
            width: 100%;
            margin: 0;
            position: relative;
            top: 0 !important;
            left: 0 !important;
            right: 0;
            bottom: 0;
            padding: 0;
            padding-left: 1em;
            display: block;        
        }
        .left-table p {
            font-size: 13pt;
        
        }
        #skills img {
            height: auto;
            position: relative;
            top: .5em;
            margin: 0;
            padding: 0;
        }
        .left-td {
            position: relative;
            top: 0;
            left: 0;
        }
        .right-td {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            box-sizing: border-box !important;
            padding: 0 !important;
        }
        .grid {
            position: relative;
            top: 0;
            left: -1em;
            width: 100%;
            margin: 0 auto 0;
            padding-left: .5em;
            justify-content: space-around;
        }
        .grid div {
            margin: 0 auto;
            position: relative;
            top: 0;
            left: 0;

        }
        .grid p {
            position: relative;
            top: -1.3em;
            left: 0;
            vertical-align: text-top;
            padding: 0;
            margin: 0;
            font-size: 12pt;
            text-align: right;
            
          }
        .html, .css, .design, .sql {
            display: grid;
            grid-template-columns: repeat(9, 25px);
            column-gap: 5px;
            position: relative;
            top: .5em;
        }
        .html div, .css div, .design div, .sql div {
            width: 20px;
            height: 20px;
            background-color: var(--drop-shadow);
            border-radius: 5px;
        }
        p.column-1 {
            width: 80px;
            text-align: right;
            margin-right: 2em;
            grid-column: 1/3;
            padding-right: 1em;
        }
        div.column-2 {
            grid-column-start: 4;
        }
    }
}

/* CONTACT.HTML  */

    #contact  {
        height: 50em;
        z-index: -2;
        margin-top: 5em;
        border: 1px solid transparent;

    }
    #contact h1 {
        margin-top: 2em;
        font-family: ltc-caslon-pro, serif;
        font-weight: 700;
        font-style: normal;
        font-size: 40pt;
        text-align: center;
        font-family: ltc-caslon-pro, serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        background-image: linear-gradient(120deg, #684551 40%, #bc93a1, #e2afa2, #D6E6E1 55%, #9cbeb3 65%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }

        #contact hr {
            width: 12%;
            margin: .3em auto 0;
            border: .8px solid #896f83;
            background-color: #896f83;
        }

        #contact img {
            width: 30px;
            height: 30px;
            margin: 0 auto;

        }

        #contact img:hover {
          transform: rotate(3deg);
        } 

        img.email {
            width: 30px;
            height: 27px!important;
            position: relative;
            top: .2em;
        }

        .social-wrapper {
            display: grid;
            grid-template-columns: repeat(5, 60px);
            column-gap: 35px;
            justify-content: center;
            margin: 2.5em 0 0;
        }

        #form form {
            width: 70vw;
            max-width: 800px;
            height: 23em;
            background-color: var(--contact-form);
            margin: 0 auto;
            box-shadow: 5px 5px 0px #6A8D82;
            color: #707070;
        }

        #form h3 {
            font-family: ltc-caslon-pro, serif;
            font-weight: 600;
            font-style: normal;
            font-size: 20pt;
            color: black;
            padding: .8em 0 0 1.9em;
            text-align: center;
            line-height: 40px;
        }

    

       .input-wrap {
           display: block;
           margin: 3em auto;
           width: 70%;

        }

        .input-wrap input {
            display: inline;
            width: 45%;
            height: 2.5em;
            margin: 4em auto 0 auto;
            border-radius: 5px;
            border: none;
            padding-left: 1em;
            font-family: cabrito-sans, sans-serif;
            font-weight: 100;
            font-style: normal;
            font-size: 14pt;

        }

        input:focus {
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.23);
            transition: .2s box-shadow;
            outline: none !important;
           }

        .input-wrap input:nth-child(2) {
            float: right;
        }

        #form input::placeholder {
            font-family: cabrito-sans, sans-serif;
            font-weight: 100;
            font-style: normal;
            font-size: 13pt;
            letter-spacing: .01em;
            color: #707070;
        }

        textarea {
         display: block;
         width: 70%;
         height: 7em;
         margin: -2em auto 0;
         border: none;
         border-radius: 5px;
         resize: none;
         padding-left: 1em;
         padding-top: 1em;
         font-family: cabrito-sans, sans-serif;
         font-weight: 100;
         font-style: normal;
         font-size: 12pt;

        }
        

        textarea::placeholder {
            font-family: cabrito-sans, sans-serif;
            font-weight: 100;
            font-style: normal;
            font-size: 13pt;
            letter-spacing: .01em;
            color: rgb(72, 70, 70);
        }

        textarea:focus {
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.23);
            transition: .2s;
            outline: none !important;

           }

        #form button {
            width: 9em;
            height: 2.2em;
            margin: 1em 0;
            position: relative;
            right: 7.4em;
            float: right;
            display: block;
            border: none;
            border-radius: 5px;
            font-family: cabrito-sans, sans-serif;
            font-weight: 800;
            font-style: normal;
            font-size: 14pt;
            padding: 0;
            background-color: #c7c7c7;
        }

        #form button:hover {
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.23);
            transition: .2s box-shadow, .2s background-color;
            background-color: rgb(211, 211, 211);
        }

        #form button:active {
            background-color: #c7c7c7;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.23);

        }


        @media screen and (max-width: 700px) {
            #contact {
                margin: 10em auto 0 !important;
            }

            #contact h1 {
                margin: 0 0 -2em !important;
            }

            #contact hr {
               display: none;
            }
            #contact img {
                width: 25px;
                height: 25px;
                margin: 0 auto;
            }
            #contact img:focus {
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.094);
            }
            img.email {
                width: 25px;
                height: 22px!important;
                position: relative;
                top: .2em;
            }

            .social-wrapper {
                display: grid;
                grid-template-columns: repeat(5, 60px);
                column-gap: 1%;
                justify-content: center;
                margin: 8.5em 0 0 2em !important;
            }

            #form h3 {
                font-family: ltc-caslon-pro, serif;
                font-weight: 600;
                font-style: normal;
                font-size: 30pt;
                color: #6A8D82;
                padding: 1em 0 0;
                text-align: center;
            }

            .input-wrap, textarea {
                margin: 0 auto !important;
                position: relative;
                top: 2em;
            }

            #form input::placeholder {
                font-family: cabrito-sans, sans-serif;
                font-weight: 100;
                font-style: normal;
                font-size: 11pt;
                letter-spacing: .01em;
                color: rgb(72, 70, 70);
                text-align: center;
                padding: 0 .5em;
            }

            textarea::placeholder {
                font-family: cabrito-sans, sans-serif;
                font-weight: 100;
                font-style: normal;
                font-size: 11pt;
                letter-spacing: .01em;
                padding: 1.5em 0 0;
                color: rgb(72, 70, 70);
                text-align: center;
            }

            #form button {
                box-sizing: border-box;
                margin: 2em auto 0 !important;
                position: relative;
                display: block;
                float: none !important;
                padding: 0;
                top: 1em;
                left: 0;


                
            }

            input, textarea {
                display: block !important;
                margin: 1em auto 0!important;
                padding: 0 !important;
                float: none !important;
                width: 60%;
                min-width: 10em !important;
            }
        
        }


/* PROJECTS.HTML  */

    #projects {
        margin: 1em auto 0;
        border: 1px solid transparent;
        z-index: -2;
    }
    #projects nav h2 {
        font-family: ltc-caslon-pro, serif;
        font-weight: 700;
        font-style: normal;
        font-size: 45pt;
        background-image: linear-gradient(140deg, #7f4f60 34%, #a47183 47%, #e6a797 59%, #D6E6E1 75%, #73998d 100%) !important;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        top: -.02em;
        left: 2em!important;
        display: inline;
        margin: 0 !important;
        z-index: -3;
    }
    #projects p.gradient-a {
        width: 10vw;
        height: 3em;
        margin: 3em auto 0 !important;
        font-family: ltc-caslon-pro, serif;
        font-weight: 700;
        font-style: normal;
        font-size: 38pt;
        position: relative;
        z-index: -2;
        text-align: center;
        background-size: 100%;
        background-image: linear-gradient(140deg, #7f4f60 22%, #a47183 35%, #e6a797 40%, #D6E6E1 48%, #73998d 55%) !important;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #projects h3 {
        font-family: ltc-caslon-pro, serif;
        font-weight: 600;
        font-style: normal;
        font-size: 48pt;
        color:#684551;
        margin: -1em auto 0;
        text-align: center;
        display: block;
        position: relative;
        z-index: -999;
    }
    p.subtitle {
        font-family: marigny, sans-serif;
        font-weight: 100;
        font-style: italic;
        font-size: 16pt;
        display: block;
        text-align: center;
        letter-spacing: 1px;;
        color: black !important; 
        background-image: none !important;
        margin: 0 auto 4em;
    }
    div.work-wrapper {
        width: 60%;
        height: 80px;
        display: block;
        margin: 0 auto;
        background-color: white;
        border-radius: 15px;
    }
    #projects footer {
        margin: -5em 0 0 0 !important;

    }
    #projects #footer h2 {
        font-family: ltc-caslon-pro, serif;
        font-style: normal;
        font-weight: 600;
        font-size: 35pt !important;
        line-height: 50px;
        letter-spacing: 1px;
        color: var(--background-color);
        width: 10em !important;
        text-align: center;
        margin: 0 auto;
        display: block;
        position: relative;
        top: 1em;
        z-index: 998;
    }
    #project-grid div {
        background-color: #eae8e9;
        width: 225px;
        height: 600px;
        border-radius: 30px;
        text-align: center;
        font-family: marigny, sans-serif;
        font-weight: 200;
        font-style: italic;
        font-size: 22pt;
        padding-top: 25px;
    }
    div#project-grid {
        display: grid;
        grid-template-columns: repeat(3, 250px);
        justify-content: center;
        column-gap: 20px;
    }
    .preview-wrapper {
        overflow: hidden;
    }
    .preview-wrapper img {
       width: 225px;
       height: auto;
       margin: 20px 0 0;
   }
    .preview-wrapper:hover {
        box-shadow: 1px 4px 7px 5px rgba(0, 0, 0, 0.103);
        font-size: 25pt;
        position: relative;
        top: -2px;
        left: 1px;
        transition: .3s top, 2s left;
    }
    .preview-wrapper:active {
        box-shadow: 1px 4px 7px 5px rgba(0, 0, 0, 0.103);
        position: relative;
        top: 2px;
        left: -2px;
    }
    div.landing-pages {
        grid-column: 1/3 !important;
        width: 760px !important;
        height: 500px !important;
        margin: 30px 0 0;
        overflow: hidden;
        background-color: white !important;
    }
    div.landing-pages img {
        margin: 20px auto 0 !important; 
    }
    div.landing-pages:hover {
        box-shadow: 1px 4px 7px 5px rgba(0, 0, 0, 0.103);
        font-size: 25pt;
        position: relative;
        top: -2px;
        left: 1px;
        transition: .3s top, 2s left;
    
    }

    #projects a {
        text-decoration: none;
        color: black;
    }
   

    @media screen and (max-width: 900px) {
        #projects {
            height: 165em;
            margin: 0 auto;
            display: block;

        }
        #projects h3 {
            font-family: ltc-caslon-pro, serif;
            font-weight: 600;
            font-style: normal;
            font-size: 40pt;
            color:#684551;
            margin: -1.5em auto 0;
            text-align: center;
            display: block;
            position: relative;
            z-index: 200;
    
        }
        div.project-grid {
            height: 80em;
            display: grid;
            grid-template-columns: 80%;
            grid-template-rows: repeat(6, 350px);
            column-gap: 10px;
            row-gap: 10px;
            justify-content: center;
            margin: 4em auto 2em;
            position: relative;
            top: 4em;
    
        }
    }

    @media only screen and (max-width: 800px) {
        #project-grid div {
            width: 80%;
            height: 500px;
        }
        div#project-grid {
            display: grid;
            grid-template-columns: repeat(2, 350px);
            justify-content: center;
            column-gap: 0 !important;
            margin: 0 auto !important;
        }
        .preview-wrapper {
            overflow: hidden;
            margin: 60px 0 0 70px;
        }
        .preview-wrapper img {
            width: 100%;
            height: auto;
            margin: 20px 0 0;
        }
    }

    @media only screen and (max-width: 700px) {
        #projects {
            margin-top: -5em;
            padding: 0 !important;
            z-index: -2;
        }
        #project-grid div {
            width: 300px;
            height: 500px;
        }
        div#project-grid {
            display: block;
            margin: 0 auto !important;
        }
        .preview-wrapper {
            overflow: hidden;
            margin: 60px auto;
        }
        .preview-wrapper img {
            width: 100%;
            height: auto;
            margin: 20px 0 0;
        }
        div.landing-pages {
            width: 80% !important;
            height: 400px !important;
            margin: 0 auto 3em;
        }
    }

    /* Footer */

footer {
    background-color: transparent;
    height: 35vh;
    width: 100vw;
    margin: 2em auto 1em;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    z-index: 9;
    display: block;
}
footer div.footer-wrap {
    width: 90%;
    height: 15em;
    margin: 0 auto 2em;
    border: 3px solid #6A8D82
}
footer h2 {
    font-family: ltc-caslon-pro, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20pt;
    -webkit-text-size-adjust: auto;
    letter-spacing: 1px;
    color: black;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 1em;
}

#footer hr {
    width: 45%;
    border: 1px solid #684551;
    margin: -1.5em auto 0;
    position: relative;
    top: 4em;
}
footer div div {
    margin: 6em auto 2em;
    width: 100%;
    height: 10em;
    display: flex;
    justify-content: center;
    gap: 20px;
}
#footer p {
    width: 100%;
    margin: 0;
    font-family: cabrito-sans, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 1px;
    color: black;
    line-height: 35px;
    text-align: center;
    position: relative;
}
#footer a {
   text-decoration: none;
   position: relative;

}
#footer p:hover {
    color: #9bb2ab;
}
p.copy-r {
    font-size: 10pt!important;
    text-align: center;
    position: relative;
    vertical-align: bottom;
    margin: -10em auto 0 !important;
    width: 0%;
    height: 10%;
}

@media screen and (max-width: 700px) {
    #footer {
        width: 100vw !important;
    }
    #footer h2 {
        width: 100%;
        display: block;
        font-family: ltc-caslon-pro, serif;
        font-style: normal;
        font-weight: 600;
        color: black;
        position: relative;
        text-align: center;
        margin: 0 auto;
    }
    
    p.copy-r  {
        font-size: 11pt!important;
        width: 10%;
        line-height: 10px;
    }

}
}
